{block content}

      {form deleteForm}
      <div class="jCelebrations">
	<div class="jbox-action">
		<a href="#addCelebration" role="button" class="btn btn-primary btn-mini" data-toggle="modal"><strong>Přidat novou událost <i class="icon-edit icon-white"></i></strong></a>
		<a href="#deleteCelebrations" role="button" class="btn btn-danger btn-mini" data-toggle="modal"><strong>Smazat vybrané <i class="icon-trash icon-white"></i></strong></a>
	</div>
	<table class="table table-striped table-bordered">
            <tbody>
                <tr>
			<th width="20"></th>
			<th width="110">Jméno události</th>
			<th width="80">Datum</th>
			<th>Moje poznámky</th>
			<th colspan="2"></th>
                </tr>
            {if $celebrations != NULL}   
             {foreach $celebrations as $key => $item}      
                <tr> 
                        <td>{$iterator->getCounter()}.</td>
                        <td><div id="cel{$item['id']}">{$item['name']}</div></td>
                        <td>{$item['date']|date:'j. n. Y'}</td>
			<td>{$item['note']}</td>
			<td width="40"><a n:href="Jubilee:updateCelebration, 'id' => $item['id']" class="btn btn-mini"><i class="icon-pencil"></i></a></td>
                        <td width="30">{$form["checkbox"]->components[$item["id"]]->getControlPart()}</td>
                </tr>
             {/foreach}
            {else}
                <tr>
                    <td colspan="5"><p align="center">Nemáte zaevidovanou žádnou událost.. </p></td>
                </tr>
           {/if}     
            </tbody>    
        </table>
      </div>
	    
	<div id="deleteCelebrations" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Opravdu chcete smazat vybrané oslavy / události?</h3>
		</div>
	        <div class="modal-body">
			<i class="icon-exclamation-sign"></i><i> Poté již není cesty zpět.
		</div>
	        <div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Zavřít</button>
			{input submit class => 'btn btn-danger'}
	        </div>      
	</div>  	    
	{/form}
	        
	<div id="addCelebration" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	{form addNewCelebrationForm} 
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Přidání nové události / oslavy</h3>
	        </div>
	        <div class="modal-body">
		  <table class="j-table_form">
			<tbody>
			<tr>				
				<td class="j-form-label">{label name /} </td> 
				<td class="j-form-input" colspan="3"> {input name placeholder => 'Název události'} </td>
			</tr>
			<tr>
				<td class="j-form-label">{label date /}</td>
                                <td class="j-form-input" colspan="3">{input date placeholder => 'např:  20.4.1999'}</td>
			</tr>			
			<tr>
				<td class="j-form-label">{label note /}</td>
                                <td class="j-form-input" colspan="3">{input note rows => 4, placeholder => 'Moje poznámky ;-)'}</td>
			</tr> 			
			</tbody>
		  </table>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Zavřít</button>
		        {input submit class => 'btn btn-primary'}
		</div>  
	{/form} 
	</div>

{/block}