{block content}
	<div class="jbox-mainLeft">
		<p class="j-info">Celkem osob: {$numPersons}</p>
                <p class="j-info j-secondInfo">událostí: {$numCelebrations}</p>                               						
	</div>
	<div class="jbox-mainRight">
		{form numberDays}
		<table>
			<tr>
				<td class="j-form-label">{input submit class => 'btn btn-primary btn-small jbtnNextElem'}</td>
                                <td class="j-form-input">{input numberDays class => 'input-mini'}</td>                               				
			</tr>							
		</table>
		{/form}
	</div>
	<table class="table table-striped table-bordered">
            <tbody>
                <tr>
			<th></th>
			<th width="100">Jméno</th>
			<th width="75" colspan="2">Dní do události</th>
			<th width="140">Datum</th>
			<th>Email</th>
			<th>Telefon</th>
			<th width="180">Moje poznámky</th>
                </tr>
            {if $data != NULL} 
             {foreach $data as $key => $item}
                <tr>	{var $link = $item['link']}
                        <td>{$iterator->getCounter()}.</td>
                        <td><a href="{link $item['link'], 'id' => $item['id']}" class="jNon-line">{$item['name']}</a></td>
			<td>{$item['type']}</td>
			<td>{if $item['days'] == 0}Dnes{elseif $item['days'] == 1}Zítra{else}{$item['days']}{/if}</td>
                        <td>{$item['actionDate']}</td>
			<td>{ifset $item['email']}{$item['email']}{/ifset}</td> 
			<td>{ifset $item['phone']}{$item['phone']}{/ifset}</td>
			<td>{ifset $item['note']}{$item['note']|shortText}{/ifset}</td>
			
                </tr>
             {/foreach}
            {else}
                <tr>
                    <td colspan="10">
			    <h3 align="center">V nejbližší době žádná důležitá událost ;-)</h3>
		    </td>
                </tr>
           {/if}     
            </tbody>    
        </table>

{/block}