{block content}
	<div class="jbox-action">
		<a href="#addPerson" role="button" class="btn btn-primary btn-mini" data-toggle="modal"><strong>Přidat novou osobu <i class="icon-edit icon-white"></i></strong></a>
		<a href="#deletePersons" role="button" class="btn btn-danger btn-mini" data-toggle="modal"><strong>Smazat vybrané <i class="icon-trash icon-white"></i></strong></a>
	</div>
	{form deleteForm} 
	<table class="table table-striped table-bordered">
            <tbody>
                <tr>
			<th width="20"></th>
			<th>Jméno</th>
			<th width="90">Narozeniny </th>
			<th width="45">Svátek</th>
			<th width="120">Email</th>
			<th width="105">Telefon</th>
			<th>Moje poznámky</th>
			<th colspan="2"></th>
                </tr>
            {if $persons != NULL}   
             {foreach $persons as $key => $item}      
                <tr> 
                        <td>{$iterator->getCounter()}.</td>
                        <td><div id="per{$item['id']}">{$item['name']}</div></td>
                        <td>{$item['birthday']|date:'j. n. Y'}</td>
                        <td>{$item['feast']}</td>
			<td>{$item['email']}</td> 
			<td>{$item['phone']}</td>
			<td>{$item['note']}</td>
			<td><a n:href="Jubilee:updatePerson, 'id' => $item['id']" class="btn btn-mini"><i class="icon-pencil"></i></a></td>
                        <td width="30">{$form["checkbox"]->components[$item["id"]]->getControlPart()}</td>
                </tr>
             {/foreach}
            {else}
                <tr>
                    <td colspan="8"><p align="center">Nemáte zaevidovanou žádnou osobu.. </p></td>
                </tr>
           {/if}     
            </tbody>    
        </table>
	<div id="deletePersons" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Opravdu chcete smazat vybrané osoby?</h3>
		</div>
	        <div class="modal-body">
			<i class="icon-exclamation-sign"></i><i> Poté již není cesty zpět.
		</div>
	        <div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Zavřít</button>
			{input submit class => 'btn btn-danger'}
	        </div>      
	</div>  	    
	{/form}
	        
	<div id="addPerson" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	{form addNewPersonForm} 
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Přidání nové osoby</h3>
	        </div>
	        <div class="modal-body">
		  <table class="j-table_form">
			<tbody>
			<tr>				
				<td class="j-form-label">{label name /} </td> 
				<td class="j-form-input" colspan="3"> {input name placeholder => 'Jméno osoby'} </td>
			</tr>
			<tr>
				<td class="j-form-label">{label birthday /}</td>
                                <td class="j-form-input" colspan="3">{input birthday placeholder => 'např:  20.4.1999'}</td>
			</tr>
			<tr>
				<td class="j-form-label">{label feast /}</td>
                                <td class="j-form-input" colspan="3">{input feast placeholder => 'např:  3.5.'}</td>
			</tr>    			
			<tr>
				<td class="j-form-label">{label email /}</td>
                                <td class="j-form-input" colspan="3">{input email placeholder => 'Email'}</td>
			</tr>
			<tr>
				<td class="j-form-label">{label phone /}</td>
                                <td class="j-form-input" colspan="3">{input phone}</td>
			</tr>			
			<tr>
				<td class="j-form-label">{label note /}</td>
                                <td class="j-form-input" colspan="3">{input note rows => 4, placeholder => 'Poznámky ;-)'}</td>
			</tr> 			

			</tbody>
		  </table>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Zavřít</button>
		        {input submit class => 'btn btn-primary'}
		</div>  
	{/form} 
	</div>

{/block}