{block content}		        
	{form updatePersonForm} 
		<h3>Upravení osoby</h3><br />
		<table class="j-table_form">
			<tbody>
			<tr>				
				<td class="j-form-label">{label name /} </td> 
				<td class="j-form-input" colspan="3"> {input name placeholder => 'Jméno osoby'} </td>
			</tr>
			<tr>
				<td class="j-form-label">{label birthday /}</td>
                                <td class="j-form-input" colspan="3">{input birthday placeholder => 'např:  20.4.1999'}</td>
			</tr>
			<tr>
				<td class="j-form-label">{label feast /}</td>
                                <td class="j-form-input" colspan="3">{input feast placeholder => 'např:  3.5.'}</td>
			</tr>    			
			<tr>
				<td class="j-form-label">{label email /}</td>
                                <td class="j-form-input" colspan="3">{input email placeholder => 'Email'}</td>
			</tr>
			<tr>
				<td class="j-form-label">{label phone /}</td>
                                <td class="j-form-input" colspan="3">{input phone}
				</td>
			</tr>			
			<tr>
				<td class="j-form-label">{label note /}</td>
                                <td class="j-form-input" colspan="3">{input note rows => 4, placeholder => 'Poznámky ;-)'}</td>
			</tr> 
			<tr>
				<td></td>
				<td>{input submit class => 'btn btn-primary'}</td>
			</tr>
			</tbody>
		  </table>		
	{/form} 

{/block}