{block content}		        
	{form updateCelebrationForm} 
		<h3>Upravení události / oslavy</h3><br />
		<table class="j-table_form">
			<tbody>
			<tr>				
				<td class="j-form-label">{label name /} </td> 
				<td class="j-form-input" colspan="3"> {input name placeholder => 'Jméno oslavy'} </td>
			</tr>
			<tr>
				<td class="j-form-label">{label date /}</td>
                                <td class="j-form-input" colspan="3">{input date placeholder => 'např:  20.4.1999'}</td>
			</tr>			
			<tr>
				<td class="j-form-label">{label note /}</td>
                                <td class="j-form-input" colspan="3">{input note rows => 4, placeholder => 'Moje poznámky ;-)'}</td>
			</tr> 
			<tr>
				<td></td>
				<td>{input submit class => 'btn btn-primary'}</td>
			</tr>
			</tbody>
		  </table>		
	{/form} 

{/block}