{block content}
   <ul id="user-menu" class="nav nav-tabs">
	<li class="active"><a href="#changePassword" data-toggle="tab">Změna hesla &nbsp;<i class="icon-pencil"></i></a></li>
	<li><a href="#changeEmail" data-toggle="tab">Změna emailu &nbsp;<i class="icon-pencil"></i></a></li>
	<li><a href="#deleteAccount" data-toggle="tab">Smazání účtu <i class="icon-trash"></i></a></li>
   </ul>
   <div id="user-menuContent" class="tab-content">
	<div class="tab-pane fade in active" id="changePassword">
	   {form changePasswordForm}
		<table class="j-table_form">
			<tbody>
			<tr>				
				<td class="j-form-label">{label oldPassword /}</td>
				<td class="j-form-input">{input oldPassword class => 'input-medium', placeholder => 'Původní heslo'}</td>
			</tr>				
			<tr>				
				<td class="j-form-label">{label password /}</td>
				<td class="j-form-input">{input password class => 'input-medium', placeholder => 'Heslo'}</td>
			</tr>
			<tr>
				<td  class="j-form-label">{label passwordVerify /}</td>
				<td class="j-form-input">{input passwordVerify class => 'input-medium', placeholder => 'Heslo znovu'}</td>										
			</tr>
			<tr>
				<td></td><td align="left">{input submit class => 'btn btn-primary'}</td>
			</tr>
			</tbody>
		</table>
	   {/form}
	</div>
	
	<div class="tab-pane fade" id="changeEmail">	
	   {form changeEmailForm class => 'ajax'} 
		<table class="j-table_form">
			<tbody>                       
			<tr>
				<td class="j-form-label">{label password /}</td>
                                <td class="j-form-input" colspan="3">{input password class => 'input-medium', placeholder => 'Heslo'}</td>
			</tr>
			<tr>
				<td class="j-form-label">{label email /}</td>
                                <td class="j-form-input" colspan="3">{input email value => $userData->email, placeholder => 'Nový email'}</td>
			</tr>			
			<tr>
				<td></td><td align="left">{input submitEmail class => 'btn btn-primary'}</td>
			</tr>
			</tbody>
		</table>	
	   {/form}	
	</div>
	
	<div class="tab-pane fade" id="deleteAccount">
		<h5>Smazání účtu!</h5>
		<p class="masthead">Váš účet bude kompletně smazán. Opravdu chce provést tuto akci?</p><br />
		{form deleteUserForm}
		<table class="j-table_form">
			<tbody>                       
			<tr>
				<td class="j-form-label">{label password /}</td>
                                <td class="j-form-input" colspan="3">{input password placeholder => 'Heslo'}</td>
			</tr>		
			<tr>
				<td></td><td align="left"><a href="#verifyDeleteUser" role="button" class="btn btn-danger" data-toggle="modal">Smazat</a></td>
			</tr>
			</tbody>
		</table>		
		<div class="modal hide fade" id="verifyDeleteUser">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Smazání účtu</h3>
			</div>
			<div class="modal-body">
				<p>Opravdu chcete smazat Váš účet?</p>
			</div>
			<div class="modal-footer">
				{input submitDel class => 'btn btn-danger'}
				<a href="#" class="btn" data-dismiss="modal">Zavřít</a>				
			</div>
		</div>	
	   {/form}
	</div>	
   </div>	

{/block}