{var $robots = "noindex"}
{block #content}

<br /><h1 n:block=title align="center">Stránka nebyla nalezena</h1><br />

<div align="center"><img src="{$basePath}/images/404.png"></div><br />

<p align="center">Zkontrolujte prosím webovou adresu, zda-li je správně zadána. <br />Pokud ano hledaná stránka neexistuje.</p><br />

<p align="center"><small><strong>error 404</strong></small></p>

{/block}



