{var $robots = "noindex"}
{block #content}

<br /><h1 n:block=title align="center">Metoda není povolena</h1><br />

<p align="center">Požadovaná metoda není povolena pro URL.</p><br />

<p align="center"><small><strong>Method Not Allowed - error 405</strong></small></p>

{/block}