{block content}
    <div class="j-section-signIn">
        <div class="j-login">
            {form signInForm}
        	<table class="j-signInForm">
        		<tr>				
                		<td colspan="2">{label username /}{input username class => 'input-medium' }</td>
                        </tr>
                        <tr>
        			<td colspan="2">{label password /}{input password class => 'input-medium' }</td>
                	</tr>
                        <tr>
				<td>
					<label n:name=remember>
						<input n:name=remember>
						<span class="j-labelSignInCheckBox">Trvalé přihlášení</span>
					</label>
				</td>
				
                        </tr>
                        <tr>
				<td><a n:href="Entrancepage:newPass" class="j-labelSignInRemember">Zapomenuté heslo</a></td>
                        </tr>                
                        <tr> 
                                <td colspan="2"><br>{input submit class => 'btn btn-primary'}</td>			
        		</tr>
                </table>
            {/form signInForm}
        </div>
        <div class="j-registration-img">
            <a n:href="Entrancepage:registration"><img src="{$basePath}/images/registration.png"></a>
        </div>
    </div>
	
	
	

{/block}
