{block head}
	<script type="text/javascript" src="{$basePath}/js/LiveFormValidation.js"></script> 
{/block}
{block content}
    <div class="j-section-newPass">
	{form newPassForm}
		<img src="{$basePath}/images/newPass.png"><br /><br />		
		<div align="center">
		<div class="alert alert-success">
			<strong>Zapomněli jste heslo? Nevadí, to se může stát ;-) </strong><br />
				Vyplňte své uživatelské jméno a budete si moci nastavit nové.
		</div>
		<table class="j-table_form">
			<tbody>
			<tr>				
				<td class="j-form-label j-form-newPassLabel"{label name /}</td>
				<td class="j-form-input j-form-newPassInput">{input name class => 'input-medium', placeholder => 'Uživatelské jméno'}</td>
			</tr>
			</tbody>
		</table>
		{control jreCaptcha}
		<br />
		{input submit class => 'btn btn-primary'}
		</div>
	{/form}
    </div>    
{/block}
