{block head}
	<script type="text/javascript" src="{$basePath}/js/LiveFormValidation.js"></script>
{/block}
{block content}
    <div class="j-section-newPass">
	{form passwordForm}
		<img src="{$basePath}/images/newPass.png"><br /><br />
		<div class="j-passwordForm">
		<table class="j-table_form">
			<tbody>                       
			<tr>				
				<td class="j-form-label">{label password /}</td>
				<td class="j-form-input">{input password class => 'input-medium', placeholder => 'Heslo'}</td>
			</tr>
			<tr>
				<td  class="j-form-label">{label passwordVerify /}</td>
				<td class="j-form-input">{input passwordVerify class => 'input-medium', placeholder => 'Heslo znovu'}</td>										
			</tr>
			<tr>
				<td></td><td align="left">{input submit class => 'btn btn-primary'}</td>
			</tr>
			</tbody>
		</table>	
		</div>	
	{/form}
    </div>    
{/block}
