{block head}
	<script type="text/javascript" src="{$basePath}/js/LiveFormValidation.js"></script>	
{/block}
{block content}
    <div class="j-section-registration">
	{form registrationForm}
		<img src="{$basePath}/images/registration2.png"><br /><br />
		<table class="j-table_form">
			<tbody>
			<tr>				
				<td class="j-form-label">{label name /} </td> 
				<td class="j-form-input" colspan="3"> {input name class => 'input-medium', placeholder => 'Jméno'} </td>
			</tr>
			<tr>
				<td class="j-form-label">{label email /}</td>
                                <td class="j-form-input" colspan="3">{input email placeholder => 'Email'}</td>
			</tr>                        
			<tr>				
				<td class="j-form-label">{label password /}</td>
				<td class="j-form-input">{input password class => 'input-medium', placeholder => 'Heslo'}</td>
				<td  class="j-form-label">{label passwordVerify /}</td>
				<td class="j-form-input">{input passwordVerify class => 'input-medium', placeholder => 'Heslo'}</td>										
			</tr>
			</tbody>
		</table>
		
		<div align="center">
			{control jreCaptcha}
		</div><br /> 
		{input submit class => 'btn btn-primary'}	
	{/form}
    </div>
{/block}
