<!DOCTYPE html> 
<html lang="cs">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Jubilee aplikace - už si nemusíte pamatovat datumy narozenin, výročí, oslavy ani svátky!">
	<meta name="keywords" content="Jubilee, narozeniny, výročí, důležité datumy" />
	<meta name="author" content="all: Jiří Dušek" />
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow, snippet, archive" />
	<meta name="country" content="cz" />
	
	<title>Jubilee - narozeniny - výročí - důležité datumy</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/main.css" type="text/css">
	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">	
	<link rel="shortcut icon" href="{$basePath}/images/favicon.ico" type="image/x-icon">
	
	<style type="text/css">
          @import url({$basePath}/css/main.css) screen,projection,tv;
	  @import url({$basePath}/css/bootstrap.min.css) screen,projection,tv;
	</style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
{***	<script src="{$basePath}/js/jquery.nette.js" type="text/javascript"></script> ***}
	<script type="text/javascript" src="{$basePath}/js/bootstrap.min.js"></script>
	{block head}{/block}
</head>
<body>	
    <div id="page">
	<a n:if="$user->isLoggedIn()" n:href="Jubilee:default">
            <div id="logo"></div>
        </a>
	<a n:if="!$user->isLoggedIn()" n:href="Entrancepage:default">
            <div id="logo"></div>
        </a>
        <div class="content">
            <div class="span8 offset2">​
                <script> document.body.className+=' js' </script>
                <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{$flash->message}</strong>
                </div> 
            </div>
            {include #content}
        </div>
    </div>
    <div n:if="$presenter->action === 'default'" class="j-footerEntrance">	      
	<div class="j-footerBox muted">
		<hr />
		<div class="j-footerBox2">
			Copyright &copy; 2014 &nbsp; <a href="http://jironett.cz">Jiří Dušek</a> | &nbsp;Jubilee aplikace
		</div>
	</div>
    </div>	
</body>
</html>
