<!DOCTYPE html> 
<html lang="cs">
<head>   
	<meta charset="utf-8" /> 
	<meta name="description" content="Jubilee aplikace - už si nemusíte pamatovat datumy narozenin, výročí, událostí, oslav ani svátků!">
	<meta name="keywords" content="Jubilee, narozeniny, výročí, události, svátky, důležité datumy" />
	<meta name="author" content="all: Jiří Dušek" />
	{ifset $robots} {** $robots - if is it error noindex ***}
	<meta name="robots" content="{$robots}" />
	{else}
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow, snippet, archive" />
	{/ifset}	
	<meta name="country" content="cz" />
	{if $presenter->name === "User"}
		{var title = "Uživatelský účet"}
	{/if}	
	<title>{ifset $title}{$title} - {/ifset}Jubilee - narozeniny - výročí - události</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/main.css" type="text/css">
	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">	
	<link rel="shortcut icon" href="{$basePath}/images/favicon.ico" type="image/x-icon">
	
	<style type="text/css">
          @import url({$basePath}/css/main.css) screen,projection,tv;
	  @import url({$basePath}/css/bootstrap.min.css) screen,projection,tv;
	</style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/LiveFormValidation.js"></script>
	
	<script type="text/javascript" src="{$basePath}/js/nette.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jubilee.js"></script>
		
	{block head}{/block}
  </head>
  <body>
    <script>  $(function(){  $("#"+{$presenter->name}+"-"+{$presenter->action}).addClass("active"); });</script>
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
		<li id="Jubilee-default"><a n:href="Jubilee:default">Přehled</a></li>
		<li id="Jubilee-person"><a n:href="Jubilee:person">Správa osob</a></li>
		<li id="Jubilee-celebration"><a n:href="Jubilee:celebration">Správa událostí</a></li>
		<li id="User-default"><a n:href="User:default">Uživatelský účet</a></li>
		<li><a n:href="Entrancepage:out">Odhlásit se</a></li>
        </ul>
	      <h2 class="masthead"><a n:href="Jubilee:" class="jTitle">Jubilee</a></h2><h4>{$user->identity->name}</h4>
	</div>
	<hr />
        <div class="span11 j-flashMessage">​
                <script> document.body.className+=' js' </script>
                <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} j-flashMessage">
		        <button type="button" class="close" data-dismiss="alert">×</button>
			<strong>{$flash->message}</strong>
		</div>	
        </div>
	
	{include #content} 
	<div class="footer">
		<hr /><p class="muted credit">
			Jubilee aplikace
		</p>
	</div>
    </div> 
	
  </body>
</html>