/*
* Author: Jiří Dušek
* Created: 2014
*
*      JUBILEE APLICATION WHOLE STYLE 
*/

/*------------ MAIN ENTRANCE ------------*/
*{
  margin: 0;
  padding: 0;
  border: 0;
}

#page {
	width: 960px;
        min-height: 560px; 
	margin: 0 auto;
}
#logo {
    margin: 0 auto;
    width: 480px;
    height: 180px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}
.content {
    width: 960px;
    margin: 0 auto;
}

.j-footerEntrance {
	width:100%;
	position: fixed;
	bottom: 0;
	left:0;
	background: #ffffff; 	
}	
.j-footerBox {
	height: 40px;
	margin: 0 auto;
	width: 500px;
	text-align: center;
}
.j-footerBox2 {
	margin-top: -10px;
}

/*------------ SIGN IN - STYLE ------------*/

.j-section-signIn {
    margin: 0 auto;
    width: 650px;
}
.j-login {
  padding: 25px 0 0 30px;
  width: 250px;
  height: 270px;
  float: left;
  background-image: url("../images/login.png");
  background-repeat: no-repeat;
}
 .j-signInForm, .j-signInForm a:visited, .j-signInForm a:link {
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.j-signInForm a:hover {
    text-decoration: underline;
}
.j-labelSignInCheckBox{
	position: relative;
	top: 3px;
	bottom: 5px;
	left: 3px;	
}
.j-labelSignInRemember {
	position: relative;
	left: 20px;	
}
.j-registration-img {
  width: 310px;
  padding: 35px 0 0 0;
  float: right;
}

/*------------ REGISTRATION - STYLE ------------*/

.form-error-message {
	padding: 10px 0 15px 0;
	color: red;
	font-weight: bold;
}
.j-section-registration {
        margin: 0 auto;
        width: 660px;
        text-align: center;
        border: 1px solid #e0dddd;
        box-shadow: 2px 2px 6px #c8c8b9;
        background-color: #ffffff;
        padding: 0 10px 20px 10px;
        background-color: #fdfcf1;
}

/*-- GENERALY FORM (SIGN IN) --*/

.j-table_form tr {
        height: 50px;   
}
.j-form-input {
        text-align: left;
        vertical-align: top;
}
.j-form-label {
	padding: 0 20px 0 10px;
        text-align: right;
        vertical-align: top;
        position: relative; 
        top:6px; 
}
/*------------ NEW PASSWORD ------------*/
.j-section-newPass {
        margin: 0 auto;
        width: 660px;
        text-align: center;
        border: 1px solid #e0dddd;
        box-shadow: 2px 2px 6px #c8c8b9;
        background-color: #ffffff;
        padding: 0 10px 20px 10px;
        background-color: #fdfcf1;
}
.j-form-newPassLabel {
	width: 180px;
}
.j-form-newPassInput {
	width: 240px;
}
/*------------ PASSWORD ------------*/

.j-passwordForm {
	margin-left: 150px;
	width: 320px;	
}


/*------------ MAIN JUBILEE ------------*/


body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 950px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
.j-flashMessage {
	margin: -5px 0 5px 0;
}      
.j-footer {
	width: 500px;
	
}
  
.jbtnNextElem {
	position: relative;
	bottom: 0px;
	left: 5px;	
}
 
.jbox-action {
	padding: 0 5px 10px 0;
}
.jbox-mainRight {
	float: right;
	width: 250px;
}
.jbox-mainRight input[type="submit"] {position: relative; bottom: 3px;}
.jbox-mainLeft {
	float: left;
	width: 250px;
}
.j-info {
	font-family: Calibri;
	font-size: 15px;
}
.j-secondInfo {
	padding: 0 0 0 30px;
}

.jTitle {
	text-decoration: none !important;
	color: inherit !important;
}
.jNon-line {
	text-decoration: none !important;
}

.jCelebrations {
	width: 650px;
	margin: 0 auto;
}
      
/*------------  X  ------------*/